body {
      background-color: green;
      text-align: center;
}

.tbt {
	color: darkred;
	font-family: initial;
	font-size: 30px;
}

.uai {
	color: black;
	font-family: sans-serif;
	font-size: 60px;
}